.product_description{
    text-align: left;
    display: block;
    margin-left: 14%;
    margin-right: 2%; 
}

.cart_button{
    background-color: #E74C1B;
    border-radius: 50px;
    height: 40px;
    color: white;
    margin-top: 28%;
}

.align{
    display: flex;
    margin-left: 14%;
}